<div class="container">
  <h1>Number Guessing Game - Angular 2</h1>
  <hr>

  <p>Guess a number between 1 and 100</p>

  <div>
    <label for="">Enter your Number:</label>

    <input type="number" [value]="guessedNo" (input)="guessedNo=$event.target.value">

    <button  (click)="checkNum()">Check</button>

    <button  (click)="ngOnInit()">Restart</button>

  </div>

    <div>
      <p *ngIf="difference<0" >Your Guess is Higher!!</p>

      <p *ngIf="difference>0" >Your guess is Lower!!</p>

      <p *ngIf="difference===0">Congrats!! you got it :))</p>
    </div>

  <p class="text-info">Number of your tries:
    <span class="badge">{{noOfTries}}</span>
  </p>

</div>
